/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* ----------------
Common styles
----------------- */

body {
    max-width: 1584px;
    margin-top: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

main {
    margin: 0 15.15vw;
}

section {
    margin-top: 8.2vw;
}

.btn-primary {
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #FF900E;
    font-size: 1.25vw;
    padding: 20px 24px;
}

.fa-arrow-right {
    margin-left: 10px;
}

.title {
    font-size: 2.84vw;
    font-weight: bold;
    color: #131313;
    margin-bottom: 1.5vw;
}

.sub-title {
    font-size: 1.25vw;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}

.description {
    color: #727272;
    font-size: 1vw;
}

/* --------------------------
Styles of header section
--------------------------- */

header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 3.16vw 15.15vw;
}

/* --------------------------
Styles of navBar
--------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1.89vw;
    list-style: none;
    font-size: 1.14vw;
    font-weight: 500;
    color: #424242;
}

/* --------------------------
Styles of banner
--------------------------- */

.banner-content {
    text-align: center;
    display: flex;
    justify-content: center;
}

.headline {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 2vw;
    color: #131313;
}

.description {
    margin-bottom: 1.89vw;
}

.banner img {
    width: 100%;
    margin-top: 1.89vw;
}

/* --------------------------
Styles of features section
--------------------------- */

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features-pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 45%;
}

.features-pictures img {
    width: 100%;
    height: 100%;
}

.features-exploring {
    width: 40%;
}

.special-word-quick {
    color: #727272;
}

.special-word-features {
    color: #FF900E;
}

/* --------------------------
Styles of special features section
--------------------------- */

.special-feature {
    display: flex;
    justify-content: space-between;
}

.special-feature-content {
    width: 40%;
    margin-top: 1.89vw;
}

.special-feature-content .title {
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.special-feature-content .sub-title,
.description {
    margin-bottom: 10px;
}

.feature-card {
    border-radius: 5px;
    box-shadow: 0 10px 8px #d1d1d1;
    padding: 8px;
    margin-bottom: 20px;
}

.special-feature-picture {
    width: 50%;
}

.special-feature-picture img {
    width: 100%;
}

.experience {
    background-color: #FF900E;
    padding: 2vw 3vw;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    color: #FFF;
    position: relative;
    bottom: 6.31vw;
    left: -4.73vw;
}

.year {
    font-size: 4.1vw;
    font-weight: bold;
    margin-bottom: 0;
}

.experience-year {
    font-size: 1.58vw;
    font-weight: 500;
}

/* --------------------------
Styles of navBar
--------------------------- */

/* --------------------------
Styles of navBar
--------------------------- */

/* --------------------------
Styles of navBar
--------------------------- */

/* --------------------------
Responsive Styles for small device
--------------------------- */

@media only screen and (max-width:688px) {
    .title {
        font-size: 3vw;
    }

    .sub-title {
        font-size: 2.5vw;
    }

    .description {
        font-size: 2vw;
    }

    .btn-primary {
        font-size: 2.5vw;
    }

    .nav-links {
        font-size: 2vw;
    }

    .features {
        flex-direction: column-reverse;
    }

    .features-pictures {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .features-exploring {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .special-feature {
        flex-direction: column;
    }

    .special-feature-content,
    .special-feature-picture {
        width: 100%;
    }

    .special-feature-picture {
        margin-bottom: 5vw;
    }

}

/* --------------------------
Responsive Styles for medium device
--------------------------- */

@media only screen and (min-width:689px) and (max-width:992px) {
    .features {
        flex-direction: column-reverse;
    }

    .features-pictures {
        width: 100%;
        gap: 30px;
    }

    .features-exploring {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
}

.hide {
    display: none;
}